<?xml version="1.0"?>
<configuration>

	<log4net debug="false">

		<logger name="TimesheetSummaryRunner" />
		<!-- Define output appenders -->
		<appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>

		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>

		<appender name="colorConsole" type="bSmartMobile.Logging.ColorConsoleAppender, bSmartMobile.TimesheetSummaryRunner">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>

		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
			<File type="log4net.Util.PatternString" value="C:\LogFiles\WebSites/%property{LogName}" />
			<param name="AppendToFile" value="true" />
			<encoding value="utf-8" />
			<param name="RollingStyle" value="Composite" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="MaxSizeRollBackups" value="30" />
			<param name="MaximumFileSize" value="10MB" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="nhibernate.log" />
			<appendToFile value="true" />
			<encoding value="utf-8" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- Setup the root category -->
		<root>
			<priority value="ALL" />
			<appender-ref ref="rollingFile" />
			<!--<appender-ref ref="console" />-->
			<appender-ref ref="colorConsole" />
		</root>

		<logger name="NHibernate">
			<level value="ERROR" />
		</logger>

		<logger name="NHibernate.SQL">
			<level value="ERROR" />
			<appender-ref ref="rollingFile" />
			<appender-ref ref="FileAppender" />
		</logger>

	</log4net>

</configuration>
